body{
    background: linear-gradient(
        to left, red, white,blue
    );
    margin:0;
    padding: 0;;
}
.container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 15fr 2fr;
    grid-template-areas: 
        "navigatie"
        "harta"
        "final";
    padding: 0%;
}

.navigatie{
    width: 100%;
    grid-area: navigatie;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:90%;
    a:link, a:visited {
        background-color: white;
        color: black;
        border: 2px solid red;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    a:hover, a:active {
        background-color: red;
        color: white;
    }
}

.harta{
    width: 100%;
    grid-area: harta;
    text-align: center;
    button{
        height:4vh;
        width: 4vh;
        border-radius: 20%;
        font-size:100%;
        border:2px solid red;
    }
    button:active{
        border:2px solid red;
        text-align:center;
        background-color: transparent;
    }
    button:hover{
        background-color: red;
        border-radius: 20%;
    }
}


.final{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:10%;
    grid-area: final;
    background-color: black;
    align-content: center;
    text-align: center;
    color:white;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    a{
        color: white;
    }
}